<div class="max-w-3xl mx-auto" id="carousel">
  <div class="relative">
    <video
      id="video-player"
      class="w-full rounded-xl shadow"
      controls
      preload="metadata"
    ></video>

    <button
      id="prev"
      class="absolute left-2 top-1/2 -translate-y-1/2 bg-black/50 text-white px-3 py-1 rounded"
    >
      ←
    </button>

    <button
      id="next"
      class="absolute right-2 top-1/2 -translate-y-1/2 bg-black/50 text-white px-4 py-1 rounded"
    >
      →
    </button>
  </div>

  <div id="thumbnails" class="flex gap-2 my-2 py-4 overflow-x-auto"></div>
</div>

<script>

  const root = document.getElementById("carousel");
  const videoEl = root.querySelector("#video-player");
  const thumbsEl = root.querySelector("#thumbnails");
  const prevBtn = root.querySelector("#prev");
  const nextBtn = root.querySelector("#next");

  let videos = [];
  let index = 0;

  const HOURS = 3;
  const HOUR_MS = 60 * 60 * 1000;

  const timeRecencyCheck = (a, b) => {
      const diffMs = Math.abs(new Date(a).getTime() - new Date(b).getTime());
      return diffMs < HOURS * HOUR_MS;
    };

  function render() {
    if (!videos.length) return;

    const current = videos[index];
    videoEl.src = current.url;
    const dateNow = Date()

    thumbsEl.innerHTML = videos
      .map((v, i) => {
        const active = i === index ? "ring-2 ring-blue-500" : "";
        const timestampDate = new Date(v.timestamp)
        const videoTime = `${timestampDate.getHours()}:${timestampDate.getMinutes()}`

      if (timeRecencyCheck(dateNow,timestampDate))
          return `<button data-i="${i}" class="comic-button">
                  Swag
          </button>`;
        return `
          <button data-i="${i}" class="border rounded w-24 h-16 flex items-center justify-center text-xs ${active}">
            ${videoTime || "Video"}
          </button>
        `;
      })
      .join("");
  }

  function next() {
    index = (index + 1) % videos.length;
    render();
  }

  function prev() {
    index = (index - 1 + videos.length) % videos.length;
    render();
  }

  async function init() {
    try {
      const res = await fetch("/api/videos");
      videos = await res.json();
        console.log(videos)
      render();
    } catch (e) {
      console.error(e);
    }
  }


  thumbsEl.addEventListener("click", (e) => {
    const btn = e.target.closest("button");
    if (!btn) return;
    index = Number(btn.dataset.i);
    render();
  });

  nextBtn.addEventListener("click", next);
  prevBtn.addEventListener("click", prev);

  init();
</script>
